<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="public/css/main.css">
</head>
<body>
<h1>My favorite place to vacation is the ocean, Pacific Ocean!</h1>
</body>
</html>