<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>inbox</title>
    <link rel="stylesheet" href="public/css/main.css">
</head>
<body>
<h1>I dont have a fav sport, but i Love to watch basketball.</h1>

</body>
</html>