<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>

<h1>Pictures of The Beautiful Sky!!</h1>
<img src="/resources/public/skyblue.jpg">
<img src="/resources/public/sky2.jpg">
<img src="/resources/public/sky.jpg">

</body>
</html>