<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>inbox</title>
    <link rel="stylesheet" href="public/css/main.css">
</head>
<body>
<h1>One of My Favorite songs, by Slipknot!!</h1>
</body>
</html>