<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>flowers</title>
</head>
<body>
<h1>This is One of the Best Plants!</h1>
<img src="/flowers.jpg" alt="Picture Of Special Plant">

</body>
</html>