<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<h1>You are in the index of this page.....Where is everybody at!! Where is </h1>

<h1>{{.}}</h1>

</body>
</html>